
MONGO_URI = enter your mongodb uri here

PORT = enter your port number here
PRIVATE_KEY = enter your private key here
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7
CLOUDINARY_CLOUD_NAME= enter your cloudinary cloud name here
CLOUDINARY_API_KEY= enter your cloudinary api key here
CLOUDINARY_API_SECRET=enter your cloudinary api secret here
CLOUDINARY_URL= enter your cloudinary url here
AUTH_EMAIL=enter your email here
AUTH_PASSWORD=enter your password here